.section-bottom-page {
  display: flex;
  gap: 20px;
  margin-top: 2rem;
  padding-bottom: 2.5rem;
}

.section-main-inner-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.section-aside-inner-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem;
  padding: 1rem;
}

.text-size {
  display: flex;  
  text-align: center; 
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 1rem;
}

.main-image {
  max-width: 50%;
  height: auto;
}

.first-aside-image {
  max-width: 75%;
  height: auto;
  margin: 0 auto;
}

.second-aside-image {
  max-width: 100%; 
  height: auto;
}

.faq-list {
  display: flex;
  flex-direction: column;
}

.faq-item {
  width: 100%;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 2rem;
}

.faq-item:first-child {
  padding-top: 5rem;
}

.faq-item:last-child {
  padding-bottom: 5rem;
}

.faq-item h3 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.faq-item p {
  font-size: 16px;
  margin-bottom: 1rem;
}

.faq-item ul {
  list-style-type: disc;
  margin-left: 1rem;
}

.faq-item li {
  margin-bottom: 0.5rem;
}
