.footer {
  position: relative;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #000;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #262626;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #ccc;
    z-index: -1;
  }
}

.footer-content {
  position: relative;
  padding: 10px;
  color: #d0c182;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .link-italic {
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
    color: #d0c182;
  }
  .footer-content-text {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-bottom: 2rem;
  }
}

.footer-list {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    li {
      font-size: 18px;
      .icon {
        font-size: 2em;
        color: #779e0e;
      }
    }
  }
}