@import '~scss-reset/reset';

body {
  background-color: #262626;
  color: #d0c182;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

.app-name, .link {
  font-weight: bold;
  color: #779e0e;
}

.link {
  text-decoration: none;
}

.carbon-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.carbon-icon {
  margin-top: 2rem;
  padding-top: 2rem;
  font-size: 48px;
  height: auto;
  max-width: 100%;
  transition: color 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.page-container {
  max-width: 1300px;
  width: 100%;
  margin: auto;

}