@import '~scss-reset/reset';

body {
  background-color: #262626;
  color: #d0c182;
}

ul {
  list-style: none;
}

.app-name, .link {
  font-weight: bold;
  color: #779e0e;
}

.link {
  text-decoration: none;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img, video {
  max-width: 50%;
  height: auto;
  margin: 20px 0;
  border: 2px solid #262626;
}

