.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.carbon-icon {
  font-size: 48px;
  height: auto;
  transition: color 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.opacity {
  opacity: 0.7;
  filter: grayscale(40%) saturate(80%);
}