$modal-bg-color: #262626;
$modal-content-bg-color: #779e0e;
$content-bg-color: #d0c182;
$modal-content-padding: 20px;
$modal-content-border-radius: 5px;
$modal-content-max-width: 500px;
$font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$min-height: 100vh;
$margin: 1rem;
$padding: 1rem;
$border: 2px solid #000;

.search-button, .search-text {
  font-weight: bold;
  font-family: $font-family;
  color: $content-bg-color;
  margin: $margin;
}

.search-list {
  margin: $margin;
}

.search-button {
  border: $border;
  margin: $margin;
  padding: $padding;
  border-radius: $modal-content-border-radius;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: $margin;
  padding: $padding;
  min-height: $min-height;
}

.icon-img {
  padding: $padding;
  margin: $margin;
}

@media (max-width: 1024px) {
  .search-icon {
    display: none;
  }
}